// style.scss

@import "browserreset";
@import "font-lato";
@import "commonmixins";
@import "signin";

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

.mainmap {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
.esriSimpleSlider {
	@include mapoverlay; // commonmixins
	border: 0 !important;
}
.esriSimpleSliderVertical .esriSimpleSliderIncrementButton {
	border-bottom: 1px solid #ccc !important;
}
.legend {
	position: absolute !important;
	right: 20px;
	top: 20px;
	width: 250px;
	padding: 15px;
	@include mapoverlay; // commonmixins
	overflow: auto;

	td {
		vertical-align: middle;
		text-align: left;
	}

	.esriLegendService {
		padding-bottom: 0;
		margin-top: 15px;
		&:first-child {
			margin-top: 0;
		}
	}
}
.logo {
	position: absolute;
	left: 10px;
	bottom: 10px;
	height: 80px;
	width: 80px;
	@include retinabackground('../img/logo', 'png', 80px, 80px);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.6);
}

.esriPopup .esriPopupWrapper, .esriPopup .pointer, .esriPopup .outerPointer {
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.6);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.6);
}

.esriPopup {
	@include Lato;
	font-size: 1em;
}
.esriPopup .titlePane{
	padding: 6px;
	@include retinabackground('../img/debut_dark', 'png', 200px, 200px);
}
.esriPopup .titleButton {
	top: 8px;
}
.esriPopup .titleButton.close {
	right: 8px;
}
.esriPopup .titleButton.maximize, .esriPopup .titleButton.restore {
	top: 11px;
	right: 30px;
}
.esriPopup .titleButton.next, .esriPopup .titleButton.prev {
	right: 51px;
}
.esriPopup .title {
	margin-left: 8px;
}
.esriViewPopup .hzLine {
	border-top: 1px solid #ccc;
}

.esriLegendServiceLabel {
	display: block;
	margin-bottom: 5px;
	font-weight: normal;
	font-size: 1.2em;
	color: lighten(#222, 30%);
}
.esriLegendLeft {
	padding-left: 5px;
}
.esriLegendLayerLabel {
	margin-bottom: 5px;
}